@import url('https://fonts.googleapis.com/css?family=Stoke&display=swap');

:root {
  --app-width: 480px;
  --card-width: 130px;
}

body,
p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
